body 
    margin: 0
    background: #051622

p 
    color: #1BA098
    margin: 0


//  theme 1 
//     background: #c33764;
//     background: -webkit-linear-gradient(to right, #c33764, #1d2671); 
//     background: linear-gradient(to right, #c33764, #1d2671);   

//     theme 2 

//     theme dark 