
.header
    margin-bottom: 1.5rem

.nav
    display: flex
    align-items: center
    padding: 1rem
    &__item--hamburguer
        color: $white
        width: 1rem
        font-size: 1.5rem
        margin-right: 1.25rem
    &__item--input
        width: 100%
        height: 1.75rem
        padding: 0.2rem 0 0 0.5rem
        color: $green
        font-size: 1.1rem
        outline: none
        border-radius: .3rem
        border: none

.divider
    border: 0.06rem solid $orange-light
    width: 85%
    animation-name: divide
    animation-duration: 4s

@keyframes divide
  0%
    width: 1rem
  85%
    width: 50%

::placeholder
    color: gray
    opacity: 0.5 